@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Pacifico&display=swap');

body {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #ececeb;
    font-family: "comfortaa", Helvetica, sans-serif;
    font-size: 22px;
    padding: 0;
}

header {
    background-color: #1811098e;
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#logo_link img {
    width: 90px;
    height: 90px;
}

nav a {
    text-align: center;
    color: rgba(232, 232, 241, 0.897);
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: white;
    color: black;
}

#banner_img img {
    width: 100%;
}

#subject {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-top: 100px;
}

.math_card {
    grid-column: 2/5;
}

.phisic_card {
    grid-column: 6/9;
}

.chemistry_card {
    grid-column: 2/5;
}

.biology_card {
    grid-column: 6/9;
}

.finance_card {
    grid-column: 2/5;
}

.Computer_card {
    grid-column: 6/9;
}

.card-img {
    width: 500px;
    height: 500px;
}

#Website_zone {
    background-color: rgb(94, 55, 45);
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    margin-top: 100px;
}

.website_img {
    width: 200px;
    height: 200px;
}

footer {
    background-color: #4d300b8e;
    padding: 25px 50px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    background-color: white;
    color: black;
}

#logo {
    width: 200px;
    height: 200px;
}

#social_media a {
    padding: 20px;
}